html {scroll-behavior: smooth;}

body { font-family: Helvetica, sans-serif;}

section {padding: 2.5rem 0;}

.wrapper {
    margin: 0 auto;
    width: 95%;
}

@media screen and (min-width: 768px) {
    .wrapper {max-width: 80rem;}
}

.title-section {
    font-size: 2rem;
    margin: 0 0 1.6rem;
    text-align: center;
    position: relative;
    font-weight: bold;
}

@media screen and (min-width: 768px) {
    .title-section {
        font-size: 1.8rem;
        text-align: center;
        position: relative;
        font-weight: bold;
    }
    
}

.btn {
    background: var(--btn-color);
    border-radius: .2rem;
    color: var(--white-color);
}

.btn:hover {
    background: var(--btn-hover-color);
    transition: all .2s;
}