html {scroll-behavior: smooth;}

body { font-family: Helvetica, sans-serif;}

section {padding: 2.5rem 0;}

.wrapper {
    margin: 0 auto;
    width: 95%;
}

@media screen and (min-width: 768px) {
    .wrapper {max-width: 80rem;}
}

.title-section {
    font-size: 2rem;
    margin: 0 0 1.6rem;
    text-align: center;
    position: relative;
    font-weight: bold;
    z-index: 12;
}

@media screen and (min-width: 768px) {
    .title-section {
        font-size: 1.8rem;
        text-align: center;
        position: relative;
        font-weight: bold;
    }
    
}

.btn {
    background: var(--secondary-color);
    border-radius: .2rem;
    color: var(--white-color);
}

.btn:hover {
    background: var(--btn-hover-color);
    transition: all .2s;
}

.border-line {
    width:12px;
    height:12px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    margin:0 auto;
    position:relative;
}

.border-line:before,
.border-line:after{
    content:"";
    position:absolute;
    height:1px;
    width:60px;
}

.border-line:before{
    left:-70px;
    bottom:5px;
}

.border-line:after{
    right:-70px;
    bottom:5px;
}

.color-highlight{
    color:var(--primary-color);
}

.border-line{
    border:1px solid var(--primary-dark-color);
}

.border-line:before,
.border-line:after{
    background:#C49B66;
}