/* Content */
.career .content { display: none; }

.career .content.active {
    border: .1rem solid var(--border-color);
    border-top: .25rem solid var(--brand-color);
    display: block;
    padding: .6rem;
}

@media screen and (min-width: 768px) {
    .career .content.active { padding: 1.4rem; }
}

.career .content .box { margin-bottom: 1.4rem; }

.career .content--career .text {
    margin-top: 1rem;
    text-align: justify;
}

.career .content--career .text:first-of-type { margin-top: 0; }

.career .content--school .box:last-of-type,
.career .content--history .box:last-of-type { margin-bottom: 0; }

.career .content .box .title {
    border-left: .25rem solid var(--brand-color);
    font-weight: bold;
    margin-bottom: .8rem;
    padding-left: .5rem;
}

.career .content .box .period {
    font-weight: bold;
    margin-left: .2rem;
}

/* Tabs */
.career .tabs-icon {
    margin-bottom: 30px;
    text-align: center;
    }

.career .tabs-icon .tab {
    background: var(--white-color);
    border: none;
    border-radius: .2rem .2rem 0 0;
    cursor: pointer;
    margin: 0;
    padding: .55rem;
}

.career .tabs-icon .tab:hover {
    background: var(--brand-color);
    color: var(--white-color);
    transition: all .3s;
}

.carrer .tabs-icon .tab:focus { outline: none; }

.career .tabs-icon .tab.active {
    background: var(--brand-color);
    color: var(--white-color);
    cursor: default;
}

    .career .tabs-icon li {
    display: inline-block;
    padding: 10px 30px;
    background: #444;
    color: #fff;
    border-radius: 30px;
    margin: 0 -2px;
    cursor: pointer;
    }
    .career .tabs-icon li h6 {
    display: inline-block;
    padding-left: 10px;
    }
    .career .tabs-icon li:first-child {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    }
    .career .tabs-icon li:last-child {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    }
    .career .tabs-icon .active {
    background: #121212;
    }
    .career .tabs-icon .active i {
    color: #668fc4;
    }
    .sm-title {
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 700;
        letter-spacing: 1px;
        }