       
.footer{
    background-color: black;
    color: white;
    height: 100px;
    z-index: 1;
    position: fixed;
    bottom: 0;
    padding: 10 0 0 0;
    width: 100%;
}
.footer_text{
    text-align: center;
}


