.skills { background: var(--primary-color); }

.skills__content {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .skills__content { flex-direction: row; }
}

.skills__content .information-text { width: 100%; padding-right: 50px; }

.skills__content .information-text .title-section { padding-left: 8%; }

@media screen and (min-width: 768px) {
    .skills__content .information-text { width: 75%;  }
}

.skills .skills__content .information-text .skills-space { float: right; }

.skills-space {width:43%; }

.skills .skills__content .information-text .skills-space p {
    text-align: center;
    color: var(--font-color);
}
.skills .skills__content .information-text .skills-space h3 {
    text-align: center;
}

.skills .skills__content .information-text .skills-space i {
    font-size: 35px;
    color: var(--btn-hover-color);
    margin-bottom: 10px;
    padding-left: 45%;
}

.skills .skills__content .information-text  .bord {
    border-right: 0.1rem solid var(--primary-dark-color);
    margin-right: 20px;
    padding-right: 20px;
}

.skills__content .bar-itens {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .skills__content .bar-itens { width: 50% }
}

.skills__content .skills-progress { width: 100%; }

@media screen and (min-width: 768px) {
    .skills__content .skills-progress { width: 80% }
}

.skills__content .skills-progress .language {
    display: block;
    margin-bottom: .5rem;
}

.skills .bar-itens .bar {
    background: var(--background-skills-color);
    border: 1px solid var(--border-color);
    border-radius: .2rem;
    height: .5rem;
    margin-bottom: 1rem;
    padding: .3rem;
    transition: all .3s;
}

.skills .bar__porcentage {
    background: var(--secondary-color);
    height: 100%;
}

.skills .bar__porcentage.porcent10 { width: 10%; }

.skills .bar__porcentage.porcent20 { width: 20%; }

.skills .bar__porcentage.porcent30 { width: 30%; }

.skills .bar__porcentage.porcent40 { width: 40%; }

.skills .bar__porcentage.porcent50 { width: 50%; }

.skills .bar__porcentage.porcent60 { width: 60%; }

.skills .bar__porcentage.porcent70 { width: 70%; }

.skills .bar__porcentage.porcent80 { width: 80%; }

.skills .bar__porcentage.porcent90 { width: 90%; }

.skills .bar__porcentage.porcent100 { width: 100%; }