*{
    --border-color: #ccc;
    --brand-color: #668fc4;
    --background-skills-color: #f7f7f7;
    --font-color: #363636;
    --white-color: #fff;
    --about-bg-color: #d6efff;
    --btn-color: #0c3553;
    --btn-hover-color: #16486e;
}