*{
    --border-color: #ccc;
    --brand-color: #7e7e7e;
    --background-skills-color: #f7f7f7;
    --font-color: #363636;
    --white-color: #fff;
    --primary-dark-color: #585858;
    --about-bg-color: #d6efff;
    --btn-color: #0c3553;
    --seconday-color: #f8f8f8;
    --btn-hover-color: #16486e;
}